{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}
by <i>{{ post.user.full_name }}</i>on {{ post.format_date }}
</p>
<div>
    <p><b>Tags: </b>{% for tag in tags %} <a href="/tags/{{tag.id}}">{{tag}}</a>
    </p>
</div>
<form>
    <button class="btn btn-outline-primary" formaction="/users/{{ post.user_id }}">Cancel</button>
    <button class="btn btn-primary btn-sm" formaction="/posts/{{ post.id }}/edit" formmethod="GET">Edit</button>
    <button class="btn btn-danger btn-sm" formaction="/posts/{{ post.id }}/delete" formmethod="POST">Delete</button>
</form>

{% endblock %}