<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{%block title%}  {%endblock%}</title>
</head>
<body>
    {%block content%}
    <main id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <section class="messages">
          {% for category,msg in messages %}
          <p class="{{category}}">{{msg}}</p>
          {% endfor  %}
        </section>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
      </main>
    {%endblock%}
</body>
</html>